<h1 class="text-center">Articles new</h1>

<!-- Вывод списка ошибок в виде списка -->
<% if @article && @article.errors.any? %> 
  <h4>Список ошибок</h4>
  <ul class="error-list">
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for :article, url: articles_path, data: {turbo:false} do |f| %>

  <div class="mb-3">
    <p>Автор: <%= current_user.username %></p>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="mb-3">
		<%= f.label :title, class: 'form-label' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :text, class: 'form-label' %>
    <%= f.text_area :text, class: 'form-control' %>
  </div>

	<%= f.submit class: 'btn btn-outline-primary' %>
  
<% end %>