<h1 class="text-center">Contacts new</h1>

<!-- Вывод списка ошибок Вариант 2 в виде списка -->
<% if @contact && @contact.errors.any? %> 
  <h4>Список ошибок</h4>
  <ul class="error-list">
    <% @contact.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for :contact, url: contacts_path, data: {turbo:false} do |f| %>

  <div class="mb-3">
    <%= f.label :email, class: 'form-label' %><br>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :message, class: 'form-label' %><br>
    <%= f.text_area :message, class: 'form-control' %>
  </div>

  <%= f.submit 'Send message', class: 'btn btn-outline-primary' %>

<% end %>